:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-background2: #414b4f;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}

body {
  height: 100%;
  background-color: var(--darkreader-neutral-background);
  color:var(--darkreader-neutral-text)
}

html {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Header {
  z-index: 10;
  text-align: center;
  padding: 10px;
}

.Header > input {
  background-color: var(--darkreader-neutral-background2);
  padding-left: 10px;
  padding-right: 10px;
}

.Main {
  flex: 1;
  z-index: 0;
}

.Footer {
  align-self: center;
  padding: 20px;
  z-index: 10;
}

.Main {
  display: grid;
  grid-template-columns: repeat(auto-fit minmax(50px 1fr));
  gap:10px;
  align-items: center;
}

.value {
  flex: 1;
  display: flex;
  flex-direction: column;
  outline: 1px solid white;
  gap: 10px;
}

.InfoCard {
  display:flex;
  gap:10px;
  align-items: center;
}